@{
    Layout = "_DoctorLayout";
}
<h2>Welcome, Dr. @ViewBag.Name 👋</h2>

<p><b>Email:</b> @ViewBag.Email</p>
<p><b>Specialization:</b> @ViewBag.Specialization</p>
<p><b>Department:</b> @ViewBag.Department</p>